.header-container {
    display: flex;
    width: 100%;
  }
  
  .section {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    
  }
  
  .first-section {
    flex: 15%;
  }
  
  .second-section {
    flex: 70%;
  }
  
  .third-section {
    flex: 15%;
  }
  