<div class="prefooter">
    <div class="section1">
      <img src="assets/images/beach2.jpg" alt="Imagen circular">
    </div>
    <div class="section2">
      <div class="content">
        <div class="title">Our destinations</div>
        <div class="subtitle">Discover the world</div>
      <br>
        <div class="description">Embark on an unforgettable adventure! Discover and enjoy our fascinating destinations. We are waiting for you to explore the world together!</div>
      </div>
    </div>
  </div>
  