<div class="section" id="section1">
    <div class="seccion1">
        <label class="title">Take a rest</label>
        <br>
        <label class="subtitle"> Discover all the offers available at the best prices</label>
        <label class="subtitle">whole country and the world</label>
        <button class="red-button">Buy</button>
    </div>
</div>
<h2>Offers</h2>
<div class="section">
<div  class="card">
    
    <app-card background="assets/images/chicago.png" title="Chicago" subtitle="$600.00"></app-card>
</div>
<div  class="card">
    <app-card background="assets/images/porto.jpg" title="Porto" subtitle="$800.00"></app-card>
</div>
<div class="card">
    <app-card background="assets/images/chicago2.png" title="Chicago" subtitle="$600.00"></app-card>
</div></div>
